<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQLite JDBC Configuration -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:C:\\Users\\DÉVELOPPEUR\\Desktop\\Cours Java\\EnglishTest\\english_test.db</property>
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Hibernate Properties -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Entity Mapping -->
        <mapping class="com.englishtest.pojos.Joueur"/>
        <mapping class="com.englishtest.pojos.Verbe"/>
        <mapping class="com.englishtest.pojos.Partie"/>
        <mapping class="com.englishtest.pojos.Ville"/>
        <mapping class="com.englishtest.pojos.Question"/>
    </session-factory>
</hibernate-configuration>
